<form class="ui stacked segment form" action="/invoiceCollection/{{invoiceCollection.id}}/addInvoice" method="POST" enctype="multipart/form-data">
    <section class="ui stacked segment form">
    <div class="five fields">
        <div class="field">
            <label>Date</label>
            <input placeholder="Date" type="text" name="date" autofocus required>
        </div>
        <div class="field">
            <label>Invoice Number</label>
            <input placeholder="Invoice #" type="text" name="invoiceNumber" required>
        </div>
        <div class="field">
            <label>Net Amount</label>
            <input placeholder="Net" type="text" name="netAmount" required>
        </div>
        <div class="field">
            <label>VAT Rate</label>
            <input placeholder="Vat Rate in %" type="text" name="vatRate" required>
        </div>
        <div class="field">
        <button><i class="large paper plane icon"></i></button>
    </div>
    </div>
</section>
<section>
    <div class="ui stacked segment form field">
        <label>File</label>
        <input type="file" name="picture">
    </div>
    <div class="field">
        <label>File Title</label>
        <input placeholder="Title" type="text" name="title">
    </div>
    <button><i class="large paper plane icon"></i></button>
</section>
</form>
