{{#each invoicelists}}
  <section class="ui segment">
    <h2 class="ui header">
      {{title}}
    </h2>
    <p> Total Duration: {{duration}} </p>
    <a href="/invoiceCollection/{{id}}"> <i class="ui folder open icon"></i> </a>
    <a href="/dashboard/deleteInvoiceCollection/{{id}}" class="delInvoiceCollection"> <i class="ui trash icon"></i> </a>
  </section>
{{/each}}