{{> menu id="dashboard"}}

<section class="ui inverted tertiary grey segment">
    {{> listInvoiceCollections}}
    {{> addInvoiceCollection}}
    <p>
        <a href="/dashboard/deleteAllInvoiceCollections"> <button class="ui center align negative button"> Delete ALL invoice Collections</button></a>
    </p>
    {{> addImages}}



<section class="ui raised segment">
    <h3 class="ui header">
        Your Pictures:
    </h3>
    <div class="ui cards">
        {{#each album.photos}}
            {{> card }}
        {{/each}}
    </div>
    <br>
    <div class="ui one field center align segment">
        <a href="/dashboard/deleteallpictures"> <button class="negative center align ui button">Delete All</button></a>
    </div>
</section>
</section>