{{> menu}}

<section class="ui center aligned middle aligned segment">
  <h2 class="ui header">
    {{invoiceCollection.title}}
  </h2>
    <h4>All Invoices</h4>
  {{> listInvoices}}
    <h4>Add Invoice:</h4>
  {{> addInvoice}}
</section>