{{> menu}}

<section class="ui center aligned middle aligned segment">
    <h1 class="ui header" >
        Welcome to your invoCol {{fullname}}.
    </h1>
    <p>
        A small app that lets you keep track of your companies expenditure, invoices and VAT in one library.<br>
        Speaking of which...{{fistname}} you've got: <br>

    <div class="ui two statistics">
        <div class="red statistic">
            <div class="value"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                {{totalCollections}}
            </font></font></div>
            <div class="label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                Total Invoice Collections
            </font></font></div>
        </div>
    <div class="red statistic">
        <div class="value"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
            {{totalInvoices}}
        </font></font></div>
        <div class="label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
            Total Invoices
        </font></font></div>
    </div>
</div>

</section>
<section class="ui inverted center aligned middle aligned segment">
<img class="ui rounded medium middle aligned image"
     src="https://cdn.glitch.com/64d66aa6-ac6a-4743-b033-486978dcd43a%2FaccountingCartoon.png?1551569184090"
     alt="We do the boring stuff for you.">
<p>
    The <i class="large red heartbeat icon"></i>
    of your Business.
</p>
</section>