{{> menu}}

<section class="ui center aligned middle aligned segment">
    <h1 class="ui header" >
        Welcome to your invoCol {{fullname}}.
    </h1>
    <p>
        A small app that lets you keep track of your companies expenditure, invoices and VAT in one library.<br>
        Speaking of which...{{fistname}} you've got: <br>

    {{> loggedOnUserStats}}

</section>
<section class="ui inverted center aligned middle aligned segment">
<img class="ui rounded medium middle aligned image"
     src="https://cdn.glitch.com/64d66aa6-ac6a-4743-b033-486978dcd43a%2FaccountingCartoon.png?1551569184090"
     alt="We do the boring stuff for you.">
<p>
    <br>
    The <i class="large red heartbeat icon"></i>
    of your Business.
</p>
</section>
<section class="ui center aligned middle aligned segment">
{{> totalStats}}
</section>